<strong>Ques: All Oops concepts?</strong>
<br>
<hr>

<strong>Ques: Inheritance and how to achieve it and types of Inhiritance?</strong>
<br>

<hr>


<strong>Ques: Abstract Class And Interface. ?</strong>
<br>

<hr>

<strong>Ques: class and interfaces in java?</strong>
<br>

<hr>


<strong>Ques: String , string buffer, String Builder ?</strong>
<br>

<hr>


<strong>Ques: Why use inheritance in java?</strong>
<br>

<hr>


<strong>Ques:Difference between hashcode() and equals() methods?</strong>
<br>

<hr>


<strong>Ques: Immutable class?</strong>
<br>

<hr>


<strong>Ques: ?</strong>
<br>

<hr>



<strong>Ques: ?</strong>
<br>

<hr>


<strong>Ques: ?</strong>
<br>

<hr>


<strong>Ques: ?</strong>
<br>

<hr>


<strong>Ques: ?</strong>
<br>

<hr>