
<br>
<div class="row row-cols-1 row-cols-md-6 g-4">
    <!-- @for (file of filesNameList; track file.id) {
       -->
       @for (topic of topicList; track topic.id) {
        <div class="col">
            <div class="card">
              <div class="card-body">
                <!-- <h5 class="card-title">{{topic.topicName}}</h5> -->
                <!-- <p class="card-text">Topic Definition</p> -->
                <a href="{{topic.topicName}}" class="card-link">{{topic.topicName}}</a>
              </div>
            </div>
          </div>
    }
  </div>
